{% extends "DavidTicketBundle::base.html.twig" %}

{% form_theme form _self %}

{%- block radio_widget -%}
    <label class="form-radio">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <i class="form-icon"></i> {{ label }}
    </label>
{%- endblock radio_widget -%}

{% block body %}

<div class="column col-12">

    <h1>Louvre tickets office</h1>

    {{ form_start(form) }}

        {{ form_row(form.tickets.bookingDate) }}

        <div class="form-group">
            {{ form_row(form.visitType) }}
        </div>
        
        {{ form_row(form.tickets.guest.firstName) }}

        {{ form_row(form.tickets.guest.lastName) }}

        {{ form_row(form.tickets.guest.dateOfBirth) }}

        {{ form_row(form.tickets.guest.country) }}

        {{ form_row(form.tickets.reducedPrice) }}

        {{ form_row(form.email) }}

        <input type="submit" value="Send" class="btn btn-primary" />

    {{ form_end(form) }}

</div>

<div class="form-group">
  <label class="form-label">Gender</label>
  <label class="form-radio">
    <input type="radio" name="gender" checked>
    <i class="form-icon"></i> Male
  </label>
  <label class="form-radio">
    <input type="radio" name="gender">
    <i class="form-icon"></i> Female
  </label>
</div>

{% endblock %}

