{% extends "DavidTicketBundle::base.html.twig" %}

{% form_theme form _self %}

{%- block radio_widget -%}
    <label class="form-radio">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <i class="form-icon"></i> {{ label }}
    </label>
{%- endblock radio_widget -%}

{% block body %}

<div class="column col-12">

    <h1>Louvre tickets office</h1>

    {{ form_start(form) }}

        {% for ticket in form.tickets %}
            {{ form_row(ticket.bookingDate) }}
            {{ form_row(form.visitType) }}
            {{ form_row(ticket.guest.firstName) }}
            {{ form_row(ticket.guest.lastName) }}
            {{ form_row(ticket.guest.dateOfBirth) }}
            {{ form_row(ticket.guest.country) }}
            {{ form_row(ticket.reducedPrice) }}
            {{ form_row(form.email) }}
        {% endfor %}

        <input type="submit" value="Send" class="btn btn-primary" />

    {{ form_end(form) }}

{% endblock %}

