{% extends "base.html.twig" %}

{% block body %}

<div class="column col-12 col-mx-auto">

    <h1>Louvre tickets office</h1>

    {# you can read and display just one flash message type... #}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
        <h3>{{ message }}</h3>
        </div>
    {% endfor %}

    <div class="form-horizontal">
        <div class="form-group">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.bookingDate) }}
            {{ form_row(form.visitType) }}
            {% for ticket in form.tickets %}
                {{ form_row(ticket.guest) }}
                {{ form_row(ticket.reducedPrice) }}
            {% endfor %}
            {{ form_row(form.email)}}


            <a href="#" id="add-another-ticket">Add another ticket</a>
            </br>

            {# store the prototype on the data-prototype attribute #}
            <div id="ticket-fields-list" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e }}">
            </div>

            <input type="submit" value="Send" class="btn btn-primary" />
            {{ form_end(form) }}
        </div>
    </div>



    <h2>TEST</h2>
    <h3>le cout total est de {{ cost }} </h3>
    <h3>le type de billet est {{ priceType }} </h3>
    <h3>le prix du billet est {{ amount }} </h3>
    <h3>nombre de billet restant {{ billet }} </h3>

</div>

{% endblock %}