{% extends "base.html.twig" %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    <div class="main">
        <div class="form_header">
            <h1>Louvre Tickets Office</h1>
        </div>
        {{ form_start(form) }}
            <div class="label">
                {{ form_label(form.bookingDate)}}
            </div>
            <div class="form_errors">
                {{ form_errors(form.bookingDate) }}
            </div>
            <div class="input">
                {{ form_widget(form.bookingDate) }}
                <p class="break"></p>
            </div>
            <div class="label">
                {{ form_label(form.visitType) }}
            </div>
            <div class="form_errors">
                {{ form_errors(form) }}
            </div>
            <div class="input line">
                {{ form_widget(form.visitType) }}
            </div>
            <div class="ticket">
                <div class="label">
                    <h2>Ticket</h2>
                </div>
                {% for ticket in form.tickets %}
                    <div class="form_errors">
                        {{ form_errors(ticket.guest.firstName) }}
                        {{ form_errors(ticket.guest.lastName) }}
                    </div>
                    <div class="input">
                        {{ form_widget(ticket.guest.firstName) }}
                        {{ form_widget(ticket.guest.lastName) }}
                        <p class="break"></p>
                    </div>
                    <div class="label">
                        {{ form_label(ticket.guest.dateOfBirth) }}
                    </div>
                    <div class="form_errors">
                        {{ form_errors(ticket.guest.dateOfBirth) }}
                    </div>
                    <div class="input">
                        {{ form_widget(ticket.guest.dateOfBirth) }}
                        <p class="break"></p>
                    </div>
                    <div class="label">
                        {{ form_label(ticket.guest.country) }}
                    </div>
                    <div class="form_errors">
                        {{ form_errors(ticket.guest.country) }}
                    </div>
                    <div class="input">
                        {{ form_widget(ticket.guest.country) }}
                        <p class="break"></p>
                    </div>
                    <div class="label">
                        {{ form_label(ticket.reducedPrice) }}
                    </div>
                    <div class="form_errors">
                        {{ form_errors(ticket.reducedPrice) }}
                    </div>
                    <div class="input">
                        {{ form_widget(ticket.reducedPrice) }}
                        {{ form_label(ticket.reducedPrice) }}
                        <p class="break"></p>
                    </div>
                {% endfor %}
            </div>
            <div class="label">
                {{ form_label(form.email)}}
            </div>
            <div class="form_errors">
                {{ form_errors(form.email) }}
            </div>
            <div class="input">
                {{ form_widget(form.email)}}
            </div>
            
            <div class="tickets" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html_attr') }}">
            </div>

            {# Prototype #}
            {# <div class="tickets" 
                 data-prototype="
                    {% filter escape %} 
                        {{ include('louvre/prototype.html.twig', { 'form_widget(':form.tickets.vars.prototype }) }}
                    {% endfilter %}">
            </div> #}

            <input type="submit" value="Send" class="btn btn-primary" /> 
        {{ form_end(form) }}
    </div>


    
{% endblock %}