{% extends "base.html.twig" %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    <div class="main">
        <div class="form_header">
            <h1>Louvre Tickets Office</h1>
        </div>
        {{ form_start(form) }}
            <div class="label">
                {{ form_label(form.bookingDate)}}
            </div>
            <div class="form_errors">
                {{ form_errors(form.bookingDate) }}
            </div>
            <div class="input">
                {{ form_widget(form.bookingDate) }}
                <p class="break"></p>
            </div>
            <div class="label">
                {{ form_label(form.visitType) }}
            </div>
            <div class="form_errors">
                {{ form_errors(form) }}
            </div>
            <div class="input">
                {{ form_widget(form.visitType) }}
                <p class="break"></p>
            </div>
            <div class="label">
                {{ form_label(form.email)}}
            </div>
            <div class="form_errors">
                {{ form_errors(form.email) }}
            </div>
            <div class="input line">
                {{ form_widget(form.email)}}
            </div>
            <div class="ticket">
                <div class="label">
                    <h2>Ticket</h2>
                </div>
                {% for ticket in form.tickets %}
                    <div class="form_errors">
                        {{ form_errors(ticket.guest.firstName) }}
                        {{ form_errors(ticket.guest.lastName) }}
                    </div>
                    <div class="input">
                        {{ form_widget(ticket.guest.firstName) }}
                        {{ form_widget(ticket.guest.lastName) }}
                        <p class="break"></p>
                    </div>
                    <div class="label">
                        {{ form_label(ticket.guest.dateOfBirth) }}
                    </div>
                    <div class="form_errors">
                        {{ form_errors(ticket.guest.dateOfBirth) }}
                    </div>
                    <div class="input">
                        {{ form_widget(ticket.guest.dateOfBirth) }}
                        <p class="break"></p>
                    </div>
                    <div class="label">
                        {{ form_label(ticket.guest.country) }}
                    </div>
                    <div class="form_errors">
                        {{ form_errors(ticket.guest.country) }}
                    </div>
                    <div class="input">
                        {{ form_widget(ticket.guest.country) }}
                        <p class="break"></p>
                    </div>
                    <div class="form_errors">
                        {{ form_errors(ticket.reducedPrice) }}
                    </div>
                    <div class="input reducedPrice">
                        {{ form_widget(ticket.reducedPrice) }}
                        {{ form_label(ticket.reducedPrice) }}
                        <p id="showInfo">
                            A valid student ID card, military badge or other proof must be provided at the entrance for reduced fares.
                        </p>
                        <p class="break"></p>
                    </div>
                {% endfor %}
            </div>          
            <div class="tickets">
            </div>
            <div class="btn-ticket">
                <a href="#" id="remove_tag_link"><i class="fa fa-user-times fa-2x" aria-hidden="true"></i></a>
                <a href="#" id="add_tag_link"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a>
            </div>
            <div class="submit">
                <input type="submit" value="Add To Cart" class="btn btn-primary"/> 
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}