{% extends "base.html.twig" %}

{% block body %}
     {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    <div class="main">
        <div class="form_header">
            <h1>{% trans %}Louvre Tickets Office{% endtrans %}</h1>
        </div>
        <h2>{% trans %}On{% endtrans %} {{ bookingDate }}</h2>
        <div>
            <table>
                <thead>
                    <th>{% trans %}First Name{% endtrans %}</th>
                    <th>{% trans %}Last Name{% endtrans %}</th>
                    <th>{% trans %}Price{% endtrans %}</th>
                </thead>
                 {% for ticket in tickets %}
                <tbody>
                    <td>{{ ticket.guest.firstName }}</td>
                    <td>{{ ticket.guest.LastName }}</td>
                    <td>{{ ticket.amount }},00 €</td>
                </tbody>
                 {% endfor %}
                 <tfoot>
                     <td class="emtpty"></td>
                     <td class="emtpty"></td>
                     <td class="amount">{% trans %}Total Amount :{% endtrans %} {{ amount/100 }},00 €</td>
                 </tfoot>
            </table>
        </div>
        <div class="payment">
            <form action="{{ path('payment') }}" method="POST">
                <script 
                    src="https://checkout.stripe.com/checkout.js" 
                    class="stripe-button" 
                    data-key="pk_test_zwG6fcavFG9NgdGA3aOaY2oZ" 
                    data-amount={{ amount }} 
                    data-name="Louvre" 
                    data-description="{{ countTicket }} ticket(s)" 
                    data-image="{{ absolute_url('images/logo_mini.png')}}"
                    data-locale="auto" 
                    data-currency='eur' 
                    data-email={{ email }} 
                    data-allow-remember-me=false>
                </script>
            </form> 
        </div>
    </div>
{% endblock %}