{% extends "base.html.twig" %}

{% block body %}
    <div class="main">
        <div class="form_header">
            <h1>Louvre Tickets Office</h1>
        </div>
        <h2>On {{ bookingDate }}</h2>
        <div>
            <table>
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Price</th>
                </thead>
                 {% for ticket in tickets %}
                <tbody>
                    <td>{{ ticket.guest.firstName }}</td>
                    <td>{{ ticket.guest.LastName }}</td>
                    <td>{{ ticket.amount }},00 €</td>
                </tbody>
                 {% endfor %}
                 <tfoot>
                     <td class="emtpty"></td>
                     <td class="emtpty"></td>
                     <td class="amount">Total Amount : {{ amount/100 }},00 €</td>
                 </tfoot>
            </table>
        </div>
        <div class="payment">
            <form action="/payment" method="POST">
                <script 
                    src="https://checkout.stripe.com/checkout.js" 
                    class="stripe-button" 
                    data-key="pk_test_zwG6fcavFG9NgdGA3aOaY2oZ" 
                    data-amount={{ amount }} 
                    data-name="Louvre" 
                    data-description="{{ countTicket }} ticket(s)" 
                    data-image="{{ absolute_url('images/logo.png')}}"
                    data-locale="auto" 
                    data-currency='eur' data-email={{ email }} 
                    data-allow-remember-me=false>
                </script>
            </form> 
        </div>
    </div>
{% endblock %}