{% extends "base.html.twig" %}

{% block body %}
    <div class="main">
        <div class="form_header">
            <h1>Louvre Tickets Office</h1>
        </div>
        <h2>On {{ bookingDate }}</h2>
        <div>
            <table style="width:100%">
                <thead>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Price</th>
                </thead>
                 {% for ticket in tickets %}
                <tbody>
                    <td>{{ ticket.guest.firstName }}</td>
                    <td>{{ ticket.guest.LastName }}</td>
                    <td>{{ ticket.amount }},00 €</td>
                </tbody>
                 {% endfor %}
                 <tfoot>
                     <td>Total amount</td>
                     <td>{{ amount/100 }},00 €</td>
                 </tfoot>
            </table>
        </div>
            
        {# =========== STRIPE =========== #}
        <form action="/payment" method="POST">
            <script 
                src="https://checkout.stripe.com/checkout.js" 
                class="stripe-button" 
                data-key="pk_test_zwG6fcavFG9NgdGA3aOaY2oZ" 
                data-amount={{ amount }}
                data-name="Louvre" 
                data-description="{{ countTicket }} ticket(s)" 
                data-image="{{ absolute_url('logo.png')}}"
                data-locale="auto"
                data-currency='eur'
                data-email={{ email }}
                data-allow-remember-me=false>
            </script>
        </form>
    </div>
{% endblock %}