<div>
    {% for ticket in form.tickets %}
        <div class="form_errors">
            {{ form_errors(ticket.guest.firstName) }} {{ form_errors(ticket.guest.lastName) }}
        </div>
        <div class="input">
            {{ form_widget(ticket.guest.firstName) }} {{ form_widget(ticket.guest.lastName) }}
            <p class="break"></p>
        </div>
        <div class="label">
            {{ form_label(ticket.guest.dateOfBirth) }}
        </div>
        <div class="form_errors">
            {{ form_errors(ticket.guest.dateOfBirth) }}
        </div>
        <div class="input">
            {{ form_widget(ticket.guest.dateOfBirth) }}
            <p class="break"></p>
        </div>
        <div class="label">
            {{ form_label(ticket.guest.country) }}
        </div>
        <div class="form_errors">
            {{ form_errors(ticket.guest.country) }}
        </div>
        <div class="input">
            {{ form_widget(ticket.guest.country) }}
            <p class="break"></p>
        </div>
        <div class="label">
            {{ form_label(ticket.reducedPrice) }}
        </div>
        <div class="form_errors">
            {{ form_errors(ticket.reducedPrice) }}
        </div>
        <div class="input">
            {{ form_widget(ticket.reducedPrice) }} {{ form_label(ticket.reducedPrice) }}
            <p class="break"></p>
        </div>
    {% endfor %}
</div>