{% block body %}
<a href="{{ 'http://www.louvre.fr' }}">
    <img src="{{ absolute_url('images/logo.png') }}" height="50"></br>
    Louvre.fr
</a>
<p>
Musée du Louvre,</br>
75058 Paris</br>
France</br>
Tel.: +33 (0)1 40 20 53 17
</p>

<h3>{% trans %}Order receipt Nº{% endtrans %} {{ code }}</h3>

<p>{% trans %}You are receiving this email because you made a reservation.{% endtrans %}</p>
<h4>{% trans %}Visit day :{% endtrans %} {{ bookingDate }}</h4>
<p>
    <ul>
        {% for ticket in tickets %}
        <li>
            <strong>{{ ticket.guest.firstName }} {{ ticket.guest.LastName }} </strong>{% trans %}Price :{% endtrans %}{{ ticket.amount }},00 €
        </li>
        {% endfor %}
    </ul>
</p>

<p><strong>{% trans %}Total amount:{% endtrans %} {{ amount }},00 €</strong></br></p>

<p>{% trans %}Thank you for your order !{% endtrans %}</p>

{% endblock %}